import { Component, Host, h, Prop, EventEmitter, Watch, State, Event, Element } from '@stencil/core';
import { parseProp as _parseProp } from '../../../../utils/helpers/common';
import { ILiterals } from '../models/{{dashCase name}}.model';
import { VariantTypes } from '../../../../shared/models';

/**
* Component description
*
* @status stable
* @slot content - Slot por defecto | Slot: {{constantCase type}}{{dashCase name}}
*/
@Component({
	tag: 'scib-{{type}}-{{dashCase name}}',
	styleUrl: '{{dashCase name}}.scss',
	shadow: true
})
export class {{pascalCase type}}{{pascalCase name}} {

	@Element() _hostRef: HTMLElement;

	/**
	 * La variante altera el valor de las custom properties 
	 * para cambiar la apariencia del componente en base al tema
	 */
	@Prop({ reflect: true }) variant: VariantTypes = 'white';

	/** 
	 * Propiedad que refleja sus cambios sobre un atributo en el Host del Custom Element y permite ser mutada internamente 
	 */
	@Prop({mutable: true, reflect: true}) text: string;

	/**
	 * Oculta el contenido del slot
	 */
	@Prop() hide: boolean;

	/** 
	 * Propiedad no primitiva (Objeto, Array). Requiere un watch que parsee a un State interno para usarse 
	 */
	@Prop() literals: ILiterals | string;
	@State() _literals: ILiterals;
	@Watch('literals') parseLiterals(newLiterals: ILiterals | string) {
		this._literals = _parseProp<ILiterals>(newLiterals as string);
	}

	/** 
	 * Ciclo de vida ejecutado antes del primer render 
	 */
	componentWillLoad() {
		this.parseLiterals(this.literals);
	}

	/** 
	 * Ciclo de vida ejecutado tras el primer Render después de la carga 
	 */
	componentDidLoad() {

	}

	/** 
	 * Ciclo de vida al eliminar la instancia del componente 
	 */
	disconnectedCallback() {

	}

	/** 
	 * Descripción del evento 
	 */
	@Event() eventChange: EventEmitter;

	render() {
		return (
			<Host style=\{{textAlign: 'center'}}>
				<h2 style=\{{margin: '20px 0 50px'}}>{this._literals?.title}</h2>
				<div style=\{{display: 'flex', flexDirection: 'row', justifyContent: 'space-around'}}>
					<div style=\{{display: this.hide ? 'none' : 'block'}}>
						<slot />
					</div>
					<div>
						<span>{this.text}</span>
					</div>
					<div>
						<button onClick={() => this.eventChange.emit('Payload')}>eventChange</button>
					</div>
				</div>
			</Host>
		);
	}
}
